// 列表搜索样式
.mz-search-container {
  margin-bottom: 14px;

  .el-form-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-bottom: 12px;

    .el-form-item__content {
      display: inline-block;
      vertical-align: top;
    }

    &.form-search-item {
      float: right;
      margin-top: -2px;
      margin-right: 0;
    }
  }

  .el-input__inner {
    width: 220px;
    height: 36px;
    line-height: 36px;
  }

  .el-input-small {
    .el-input__inner {
      width: 120px;
    }
  }
}

.mz-button-container {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  text-align: right;

  .el-button {
    min-width: 100px;
    margin-bottom: 10px;
    margin-right: 10px;

    +.el-button {
      margin-left: 0;
    }
  }

  .mz-button--right {
    .el-button {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// 表格样式
.el-table {
  width: 100%;
}

// 页脚样式
.pagination {
  margin-top: 20px;
  text-align: right;
}